
/* Estilos para el modal */
.modal {
    display: block; /* Mostrar el modal */
    position: fixed;
    /* z-index: 1; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  }
  
  /* Estilos para el contenido del modal */
  .contenido-modal {
    background-color: #fefefe;
    margin: 1% auto; /* Centrar vertical y horizontalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Ancho del contenido */
    height: 97%;
  }
  
  /* Estilos para el botón de cierre */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
